@import "tailwindcss";

@theme {
  --color-perplexity-bg: #f5f5f5;
  --color-perplexity-sidebar: #e8e8e8;
  --color-perplexity-dark: #121212;
  --color-perplexity-dark-sidebar: #1e1e1e;
}

html, body {
  height: 100%;
  margin: 0;
}
